<!doctype html>
<html lang="en">
    <head>
        <title>Course Web Page</title>
        <meta charset="utf-8">
    </head>

    <body>
        <h1>Movies (<%= year %>)</h1>
        <p>
            <em>Best movies will be announced soon.</em>
        </p>
    </body>
</html>